// Compatible with @progress/kendo-theme-default v.7.0.0

$tb-kendo-is-dark-theme: false;
$tb-kendo-border-radius: 4px;
$tb-kendo-color-primary: #0058e9;
$tb-kendo-color-secondary: #666666;
$tb-kendo-color-info: #0058e9;
$tb-kendo-color-success: #37b400;
$tb-kendo-color-warning: #ffc000;
$tb-kendo-color-error: #f31700;
$tb-kendo-body-bg: #ffffff;
$tb-kendo-body-text: #424242;
$tb-kendo-heading-text: #292929;
$tb-kendo-subtle-text: #666666;
$tb-kendo-disabled-text: #8f8f8f;
$tb-kendo-base-bg: #fafafa;
$tb-kendo-hover-bg: #f0f0f0;
$tb-kendo-selected-text: #ffffff;
$tb-kendo-button-bg: #f5f5f5;
$tb-kendo-button-text: #424242;
$tb-kendo-series-a: #ff6358;
$tb-kendo-series-b: #ffd246;
$tb-kendo-series-c: #78d237;
$tb-kendo-series-d: #28b4c8;
$tb-kendo-series-e: #2d73f5;
$tb-kendo-series-f: #aa46be;
$tb-kendo-component-bg: $tb-kendo-body-bg;
$tb-kendo-component-text: $tb-kendo-body-text;
$tb-kendo-base-text: $tb-kendo-body-text;
$tb-kendo-hover-text: $tb-kendo-base-text;
$tb-kendo-selected-bg: $tb-kendo-color-primary;
$tb-kendo-link-text: $tb-kendo-color-primary;
$tb-kendo-link-hover-text: $tb-kendo-color-info;

$kendo-is-dark-theme: $tb-kendo-is-dark-theme;
$kendo-border-radius: $tb-kendo-border-radius;
$kendo-color-primary: $tb-kendo-color-primary;
$kendo-color-secondary: $tb-kendo-color-secondary;
$kendo-color-info: $tb-kendo-color-info;
$kendo-color-success: $tb-kendo-color-success;
$kendo-color-warning: $tb-kendo-color-warning;
$kendo-color-error: $tb-kendo-color-error;
$kendo-body-bg: $tb-kendo-body-bg;
$kendo-body-text: $tb-kendo-body-text;
$kendo-heading-text: $tb-kendo-heading-text;
$kendo-subtle-text: $tb-kendo-subtle-text;
$kendo-disabled-text: $tb-kendo-disabled-text;
$kendo-base-bg: $tb-kendo-base-bg;
$kendo-hover-bg: $tb-kendo-hover-bg;
$kendo-selected-text: $tb-kendo-selected-text;
$kendo-button-bg: $tb-kendo-button-bg;
$kendo-button-text: $tb-kendo-button-text;
$kendo-series-a: $tb-kendo-series-a;
$kendo-series-b: $tb-kendo-series-b;
$kendo-series-c: $tb-kendo-series-c;
$kendo-series-d: $tb-kendo-series-d;
$kendo-series-e: $tb-kendo-series-e;
$kendo-series-f: $tb-kendo-series-f;
$kendo-component-bg: $tb-kendo-component-bg;
$kendo-component-text: $tb-kendo-component-text;
$kendo-base-text: $tb-kendo-base-text;
$kendo-hover-text: $tb-kendo-hover-text;
$kendo-selected-bg: $tb-kendo-selected-bg;
$kendo-link-text: $tb-kendo-link-text;
$kendo-link-hover-text: $tb-kendo-link-hover-text;
$kendo-font-family: inherit;
$kendo-font-size: 12px;
$kendo-font-weight-normal: 400;
$kendo-line-height: 1.2285714286;

$enable-gradients: true;

$tb-typography: (
  kendo-default-typography: (
    font-family: "inherit",
    font-size: 12px,
    font-weight: 400,
    line-height: 1.2285714286,
  ),
);

@mixin typography-classes($typography) {
  @each $selector, $property in $typography {
    &-#{$selector} {
      @each $propName, $propValue in $property {
        #{$propName}: #{$propValue};
      }
    }
    &-#{$selector}-important {
      @each $propName, $propValue in $property {
        #{$propName}: $propValue !important;
      }
    }
  }
}

$tb-effects: (
  tb-internal-none-effects: (
    box-shadow: (
      none,
    ),
    filter: (
      none,
    ),
    backdrop-filter: (
      none,
    ),
  ),
);

@mixin effects-classes($effects) {
  @each $selector, $property in $effects {
    &-#{$selector} {
      @each $propName, $propValue in $property {
        #{$propName}: $propValue;
      }
    }
    &-#{$selector}-important {
      @each $propName, $propValue in $property {
        #{$propName}: $propValue !important;
      }
    }
  }
}
