/* window */
.k-window-title {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #262d92;
  font-weight: bold;
  text-align: center;
}
.k-window-titlebar {
  background-color: #97a9df;
  border-radius: 5px 5px 0 0;
}
.k-window-actions {
  .span {
    background: red;
  }
}

.k-window-content {
  border: solid 5px #97a9df;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
}

.k-window {
  border-radius: 5px;
  width: 710px;
}

.mla .basic-btn {
  font-size: 11px;
  margin-left: 2px;
  margin-right: 2px;
  line-height: 15px;
}

.basic-btn img {
  width: 10px;
}

.basic-btn {
  background-color: #8c9cbf !important;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #8c9cbf),
    color-stop(50%, #546a9e),
    color-stop(50%, #36518f),
    color-stop(100%, #3d5691)
  ) !important;
  background-image: -webkit-linear-gradient(to top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%) !important;
  background-image: -moz-linear-gradient(to top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%) !important;
  background-image: -ms-linear-gradient(to top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%) !important;
  background-image: -o-linear-gradient(to top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%) !important;
  background-image: linear-gradient(to top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%) !important;
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  padding: 3px 10px 3px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
}

.basic-small-btn {
  height: "23px";
  background-color: "#F6F6F6";
  border-color: "#656565";
  border-radius: "2px";
  padding: 2px 4px 2px 4px;
  margin: auto 1px;
}

.td-btn {
  background-color: #ffffff !important;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f8f8f8),
    color-stop(50%, #ffffff),
    color-stop(50%, #ffffff),
    color-stop(100%, #f0f0f0)
  ) !important;
  background-image: -webkit-linear-gradient(to top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%) !important;
  background-image: -moz-linear-gradient(to top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%) !important;
  background-image: -ms-linear-gradient(to top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%) !important;
  background-image: -o-linear-gradient(to top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%) !important;
  background-image: linear-gradient(to top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%) !important;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #aaaaaa;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #c8cbd1;
  box-shadow: inset 0 1px 0 0 #d4d4d4;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #8c8c8c;

  margin-left: 0.16em;
  margin-right: 0.16em;
  height: 20px;
  padding: 4px 20px 4px 20px;
  font-size: 12px;
  border: 1px solid #676464;
}

.print-btn {
  border-width: 0px;
  padding: 0px !important;
  width: 63px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: 10px;
}

.print-btn:hover {
  > img {
    content: url("../../../public/images/btn_print_over.gif") !important;
  }
}

.excel-btn {
  border-width: 0px;
  padding: 0px !important;
  width: 63px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: 10px;
}

.excel-btn:hover {
  > img {
    content: url("../../../public/images/btn_excel_over.gif") !important;
  }
}

.search-btn {
  border-width: 0px;
  padding: 0px !important;
}

.bg-cell {
  background: #d1daec;
}

span.required {
  color: #ff575e;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

// Input and Textarea
input.k-input,
textarea.k-textarea {
  &:disabled,
  &[disabled] {
    @include disabled($kendo-disabled-styling);

    [disabled] &,
    .k-disabled & {
      opacity: 1;
      filter: grayscale(0);
      background: #dcdcdc;
    }
  }
}

.panel-bar > span > span {
  color: #ffffff !important;
}

.panel-bar-header {
  background: linear-gradient(180deg, #d8b8f9 0%, #7a50a7 100%) !important;
  border: none;
  font-weight: bold !important;
  padding: 4px 8px 7px !important;
}

/* window */
.k-window-actions {
  .span {
    background: red;
  }
}

.k-table-thead {
  background-color: #adc6f4;
}

.k-cell-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  color: black;
  // background-color: #adc6f4;
}
.k-table-th {
  justify-content: center;
}

.k-table-td {
  font-size: 12px;
  color: black;
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.k-checkbox:checked {
  background-color: #ff6358;
  border-color: #ff6358;
  background-size: cover;
}

.k-checkbox:checked:focus {
  box-shadow: 0 0 0 2px rgba(255, 99, 88, 0.3);
}

.k-grid .k-table-row.k-selected > .k-table-td {
  background-color: #ff635840;
}
.k-grid .k-table-row.k-selected > td {
  background-color: #ff635840;
}

.k-table-tbody .k-table-row.k-selected:hover > td {
  background-color: #f1aa90;
}

.k-table-tbody .k-table-row:hover > td {
  background-color: #fcbc9c;
}

.k-table-tbody .k-grid-norecords.k-table-row:hover > td {
  background-color: transparent;
}

.k-pager-numbers button.k-selected .k-button-text {
  color: white;
  z-index: 10;
  font-size: 11px;
}
.k-pager-numbers button.k-selected {
  color: #ff6358;
}
.k-pager-numbers button span {
  color: #ff6358;
  font-size: 11px;
}

.k-pager-numbers {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.k-pager-numbers-wrap {
  gap: 1px;
}
.k-pager-md .k-pager-numbers-wrap .k-button {
  min-width: 18px;
  min-height: 18px;
  padding: 2px;
  max-height: 18px;
  max-width: 18px;
}

.k-button.k-selected::before {
  opacity: 1;
}

// .k-pager-numbers button .k-button-text{
//   color:white;
//   font-size: 11px;
// }

input:disabled {
  background-color: #dcdcdc;
}

.editor {
  height: 250px !important;
  border: solid 1px #dfe1e1;
  padding-left: 4px;
  padding-right: 4px;
}

.k-window-titlebar-actions {
  button {
    span {
      background: url("../../../public/images/btn_window_close.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      svg {
        display: none;
      }
    }
  }
}

.k-tooltip {
  left: -10px;
  border-radius: 2px;
  line-height: 1.42857;
  padding: 4px 8px;
  border-width: 0;
  box-sizing: border-box;
  background-repeat: repeat-x;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 12000;
}
.k-animation-container-shown,
.k-animation-container > .k-popup {
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.03),
    0 4px 5px 0 rgba(0, 0, 0, 0.04);
}
.k-tooltip {
  color: #ffffff;
  background-color: #ff6358;
  font-weight: 700;
}
.k-callout {
  color: #ff6358 !important;
}
.k-callout-w {
  top: 11px !important;
  margin-top: -6px !important;
  border-right-color: currentColor !important;
  left: -12px !important;
  pointer-events: none !important;
}
.k-tooltip-content {
  font-size: 10px;
}

.searchbox {
  background: #dde6f0;
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
  min-height: 45px;
  display: inline-flex;
  align-items: center;
}

.searchbox .minw {
  min-width: 195px;
}

.searchbox {
  flex-wrap: wrap;
  min-height: auto;
}

.searchbox .input-group,
.reload .input-group,
.input-group {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.searchbox .input-group,
.reload .input-group,
.input-group {
  font-size: 12px;
  font-weight: 700;
}

.search_btn.no-text {
  padding: 0;
  height: 20px;
  width: 20px;
  display: flex;
}

.col-width6per {
  width: 6%;
}

.col-width8per {
  width: 8%;
}

.col-width10per {
  width: 10%;
}

.col-width11per {
  width: 11%;
}

.col-width12per {
  width: 12%;
}

.col-width14per {
  width: 14%;
}

.col-width15per {
  width: 15%;
}

.col-width20per {
  width: 20%;
}

.col-width30per {
  width: 30%;
}

.col-width35per {
  width: 35%;
}

.col-width40per {
  width: 40%;
}

.col-width45per {
  width: 45%;
}

.col-width70per {
  width: 70%;
}

.col-width100per {
  width: 100%;
}

.col-width200per {
  width: 200%;
}

.overflow-none {
  text-overflow: clip !important;
}

.cell-inside-btn {
  height: 20px;
  color: #000;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%);
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #aaaaaa;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #c8cbd1;
  box-shadow: inset 0 1px 0 0 #d4d4d4;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #8c8c8c;
  padding: 4px 20px 4px 20px;
  font-weight: lighter;
}

.collepsMenu {
  background-image: url("../../../public/images/btn_slideleft_off.gif");
  float: right;
  height: 15px;
  width: 15px;
  background-size: 100%;
  cursor: pointer;
}

.leftPanelGroupBtn {
  background: linear-gradient(180deg, #d8b8f9 0%, #7a50a7 100%);
  border: none;
  color: #000;
  font-weight: bold;
}

.k-splitter .k-pane:first-child {
  transition: all 0.3s ease 0s;
}

.k-grid-md .k-table-th {
  padding-block: 6px;
  padding-inline: 6px;
}

.k-grid-md td,
.k-grid-md .k-table-td {
  padding-block: 6px;
  padding-inline: 6px;
}

.component-info-btn {
  background-color: #f0f2f7;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: 0 1px 0 0 #b1b9cb;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.btn_green {
  background-color: #10ff44;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #10ff44),
    color-stop(50%, #40ca09),
    color-stop(50%, #0faf0f),
    color-stop(100%, #068d0d)
  );
  background-image: -webkit-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: -moz-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: -ms-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: -o-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: linear-gradient(to bottom, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  border: 1px solid #1ef843;
  border-radius: 5px;
  color: #000;
  text-shadow: none;
  padding: 3px 10px 3px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.workspace-window .k-window-content {
  padding: 0;
}

.approval-tab .k-tabstrip-content.k-active {
  display: block;
}

.layout-tabstrip .k-tabstrip-content.k-active {
  display: block;
  padding: 0;
}

.custom-splitter > div.k-pane.k-pane-static.k-scrollable {
  z-index: 0;
}

.k-table-th,
td,
.k-table-td {
  border-inline-start-width: 1px !important;
}

.k-table-th:first-child,
td:first-child,
.k-table-td:first-child {
  border-inline-start-width: 0px !important;
}

.popup_pop_norecord {
  position: absolute;
  z-index: 99;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #ffffff 30%, #f6f6f6 60%, #eeeeee, #e5e5e5);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  height: 100px;
  padding: 30px;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  border-radius: 10px;
}

.k-grid-container .k-grid-table-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.k-popover {
  background-color: #d51923;
  border-color: rgba(213, 25, 35, 0.5);
  color: #fff;
}
