/* window */
.k-window-title {
  font-size: 14px;
  color: #262d92;
  font-weight: bold;
  text-align: center;
}
.k-window-titlebar {
  background-color: #97a9df;
  border-radius: 5px 5px 0 0;
}
.k-window-title {
  display: flex;
  justify-content: center;
}
.k-window-actions {
  .span {
    background: red;
  }
}

.k-window-content {
  border: solid 5px #97a9df;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
}

.k-window {
  border-radius: 5px;
  width: 710px;
}

.mla .find {
  font-size: 11px;
  margin-left: 2px;
  margin-right: 2px;
  line-height: 15px;
}

.find img {
  width: 10px;
}

.find {
  background-color: #8c9cbf;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #8c9cbf),
    color-stop(50%, #546a9e),
    color-stop(50%, #36518f),
    color-stop(100%, #3d5691)
  );
  background-image: -webkit-linear-gradient(
    to top,
    #8c9cbf 0%,
    #546a9e 50%,
    #36518f 50%,
    #3d5691 100%
  );
  background-image: -moz-linear-gradient(
    to top,
    #8c9cbf 0%,
    #546a9e 50%,
    #36518f 50%,
    #3d5691 100%
  );
  background-image: -ms-linear-gradient(
    to top,
    #8c9cbf 0%,
    #546a9e 50%,
    #36518f 50%,
    #3d5691 100%
  );
  background-image: -o-linear-gradient(
    to top,
    #8c9cbf 0%,
    #546a9e 50%,
    #36518f 50%,
    #3d5691 100%
  );
  background-image: linear-gradient(
    to top,
    #8c9cbf 0%,
    #546a9e 50%,
    #36518f 50%,
    #3d5691 100%
  );
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  padding: 3px 10px 3px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
}

.print-btn {
  border-width: 0px;
  padding: 0px !important;
  width: 63px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: 10px;
}

.print-btn:hover {
  > img {
    content: url("../../../../public/images/btn_print_over.gif") !important;
  }
}

.excel-btn {
  border-width: 0px;
  padding: 0px !important;
  width: 63px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: 10px;
}

.excel-btn:hover {
  > img {
    content: url("../../../../public/images/btn_excel_over.gif") !important;
  }
}

.search-btn {
  border-width: 0px;
  padding: 0px !important;
}
