@import "./../themes/kendo-theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.k-treeview-group {
  flex-direction: column;
}

.k-panelbar-content {
  max-height: 500px;
  height: 100%;
  overflow: auto;
}

.k-treeview-item li.k-treeview-item {
  padding-left: 0px !important;
}

.k-tabstrip .k-tabstrip-content .k-animation-container {
  width: 100% !important;
}

.k-tabstrip-items .k-link {
  text-transform: capitalize !important;
  padding: 0px !important;
  font-size: 12px !important;
}

.k-tabstrip-content.k-active {
  display: none;
}

.k-panelbar-item .k-link {
  padding: 8px 16px !important;
}

.k-button-sm,
.k-input-sm,
.k-picker-sm,
.k-table-sm {
  font-size: 13px !important;
}

.k-column-title {
  font-weight: 500 !important;
}

.page-titlebar {
  @apply flex w-full items-center justify-between gap-4 bg-slate-50 px-4 py-2.5;

  .title {
    @apply font-medium capitalize;
  }

  .actions {
    @apply flex gap-2;
  }
}

.page-container {
  @apply flex h-full flex-col;
}

.page-subtitle {
  @apply flex items-center gap-2 p-4;

  .dot {
    @apply h-[13px] w-[13px] bg-[url("/images/dot\_subtitle.gif")] bg-cover bg-center bg-no-repeat;
  }
}

.table-filter {
  @apply mx-4 flex flex-col rounded-lg bg-neutral-50 divide-y;

  .filter {
    @apply flex justify-between gap-4 p-3;
  }

  .filter-item {
    @apply flex items-center gap-2;
    span {
      @apply text-sm capitalize;
    }
  }

  .start {
    @apply flex items-center gap-4;
  }

  .end {
    @apply flex items-center gap-8;
  }
}

.table-container {
  @apply flex min-h-0 w-full px-4;

  .k-grid.k-grid-sm {
    @apply w-full overflow-auto rounded-lg;
  }
}

.table-b-actions {
  @apply flex justify-end gap-4 p-4;
}
