.container_part .left_l.testTheme {
  background: #1e6b55;
}
.container_part .left_l.testTheme .headingbox {
  background: #1e6b55;
}
.container_part .left_l.testTheme .framework_menu {
  background: linear-gradient(180deg, #b2c8c3 0%, #789c92 100%);
}
.container_part .left_l.testTheme .headingbox.mgnone .k-button {
  background: linear-gradient(180deg, #b2c8c3 0%, #789c92 100%);
  color: #fff;
}
.container_part .left_l.realTheme {
  background: #001c6b;
}
.container_part .left_l.realTheme .headingbox {
  background: #001c6b;
}
.container_part .left_l.realTheme .framework_menu {
  background: linear-gradient(180deg, #3059ce 0%, #0d2d88 100%);
}
.container_part .left_l.realTheme .headingbox.mgnone .k-button {
  background: linear-gradient(180deg, #3059ce 0%, #0d2d88 100%);
  color: #fff;
}

.mla {
  margin-left: auto;
}

.k-command-cell > .k-button {
  margin-left: 0.16em;
  margin-right: 0.16em;
  height: 20px;
  padding: 4px 20px 4px 20px;
  font-size: 12px;
  border: 1px solid #676464;
}

.k-command-button {
  margin-left: 0.16em;
  margin-right: 0.16em;
  height: 20px;
  padding: 0px 20px 0px 20px;
  font-size: 12px;
  border: 1px solid #676464;
  background-color: #f6f6f6;

  color: #000;
}

.root_overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
}

.k-grid td {
  padding: 6px 6px;
  border-style: solid;
  border-color: inherit;
  outline: 0;
  font-weight: inherit;
  text-align: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.searchbox .minw {
  min-width: 195px;
}
.searchbox .minw:nth-child(3),
.searchbox .minw:nth-child(4) {
  min-width: 165px;
}
.innerContens .k-command-button,
.innerContens .k-button-icontext {
  background-color: #ffffff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f8f8f8),
    color-stop(50%, #ffffff),
    color-stop(50%, #ffffff),
    color-stop(100%, #f0f0f0)
  );
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%);
  background-image: -ms-linear-gradient(top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%);
  background-image: linear-gradient(top, #dddddd 0%, #c7c7c7 50%, #a8a8a8 50%, #cdcdcd 100%);
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #aaaaaa;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #c8cbd1;
  box-shadow: inset 0 1px 0 0 #d4d4d4;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #8c8c8c;
}
.k-grid .k-pager-wrap .k-link,
.k-grid .k-pager-wrap .k-state-selected {
  padding: 2px;
  width: calc(3px + 1.42857em);
  height: calc(3px + 1.42857em);
  font-size: 11px;
}
.k-grid .k-pager-wrap .k-label {
  font-size: 12px;
}
.clm.password button.find.mla {
  display: block;
  height: 21px;
  margin-top: 5px;
  font-size: 12px;
  margin-left: 3px;
}

.clm label {
  background: #d1daec;
  color: #000;
  padding: 4px;
  margin: 0px;
  min-width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.clm label {
  background: #d1daec;
  color: #000;
  padding: 4px;
  margin: 0px;
  min-width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
}
.fields {
  display: flex;
}
.popupbutton {
  display: flex;
}
.popupbutton button {
  margin-right: 3px;
  min-width: 114px;
}
.heightF {
  height: 38px !important;
}
.clm input.k-textbox {
  height: 24px;
  margin: 2px;
  font-size: 12px;
  padding: 3px 4px;
}

.container_part .k-textbox {
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 4px;
  height: 24px;
}
input[readonly="readonly"],
textarea[readonly="readonly"] {
  background: #dcdcdc;
}

.k-textbox {
  border: 1px solid #999999;
}
.clm span.k-dropdown,
.clm .k-button {
  margin-left: 2px;
}
.headingbox.mgnone .k-button {
  font-size: 12px;
}
.k-dropdown {
  /* max-width: 95px;*/
  padding: 2px 8px;

  height: 30px;
}

.clm div #FWKA0030_userRoleMenu .k-splitter .k-scrollable,
#FWKA0020_roleMenuManagement .k-splitter .k-scrollable {
  overflow: hidden;
}

@media (max-width: 1280px) {
  body {
    overflow: auto !important;
  }
}
.mrow .rowediv.fullw .clm {
  width: 100%;
}
.mrow .rowediv.fullw .clm textarea {
  width: 100%;
  margin: 2px;
}

.mrow .rowediv.centerdiv {
  display: flex;
  align-items: center;
}
.mrow .rowediv.centerdiv label {
  min-height: 34px;
}

.rowediv.w100 {
  width: 100%;
}

.vueContents h3 {
  margin: 0px;
  padding: 0px 0px 10px;
}

.formw .clm {
  width: 38%;
}
.formw .clm div {
  margin: 6px;
  font-size: 12px;
}

.k-tabstrip-items .k-link {
  padding: 2px 8px;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  flex: 1 1 auto;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border: 1px solid #ddd;
  font-size: 12px;
}
.k-link b {
  font-size: 11px;
}

.w100 {
  width: 100px;
  min-width: 100px;
}

.w110 {
  width: 110px;
  min-width: 110px;
}

.w120 {
  width: 120px;
  min-width: 120px;
}

.w150 {
  width: 150px;
  min-width: 150px;
}

.w180 {
  width: 180px;
  min-width: 180px;
}

.w200 {
  width: 200px;
  min-width: 200px;
}
.w250 {
  width: 250px;
  min-width: 250px;
}
.w300 {
  width: 300px;
  min-width: 300px;
}
.w350 {
  width: 350px;
  min-width: 350px;
}

.w400 {
  width: 400px;
  min-width: 400px;
}

.fix-selectable {
  text-align: center;
  width: 30px;
}
.fix-crud {
  text-align: center;
  width: 50px;
}
.searchbox {
  flex-wrap: wrap;
  min-height: auto;
}
.headingbox.mgnone {
  min-width: 219px;
}
.container_part .left_l .k-panelbar {
  min-width: 160px;
}
/* .innerContens .k-widget.k-grid.k-display-block {
	    height: calc(100% - 127px);
}*/

.addBox p {
  font-size: 12px;
}
.addBox button {
  margin-left: 0px;
}
.k-button {
  font-size: 12px;
  margin: 0px;
  padding: 2px 4px;
  border: 1px solid #999;
}

.lineTag {
  padding-bottom: 4px;
}
.k-dropdown-wrap > .k-input {
  font-size: 12px;
}
.con_text .k-tabstrip > .k-content .compoContens {
  height: calc(100% - 6px);
}

/*Center Text*/
.tcenter {
  align-items: center;
}

span.required {
  font-size: 11px;
}
.clm span.k-dropdown,
.clm .k-button {
  padding-top: 2px;
  padding-bottom: 2px;
}
.reload-content .was-list {
  flex-wrap: wrap;
}
.reload-content .was-list .was img {
  width: 55px !important;
}
.k-tooltip-content {
  font-size: 10px;
}

.k-dialog-buttongroup .k-button {
  padding: 6px 16px;
}

.k-window .lineTag .k-dropdown,
.k-window .lineTag button {
  margin: 1px;
}

.searchbox .input-group,
.reload .input-group,
.input-group {
  font-size: 12px;
  font-weight: 700;
}

.minw label {
  font-weight: 700;
}
.clm div {
  font-size: 11px;
  margin-right: 15px;
  padding: 4px 2px;
  font-weight: bold;
  max-width: 100%;
  word-break: break-all;
  -ms-word-wrap: break-word;
}
.k-datepicker {
  width: 9.4em;
  margin-left: 2px;
  margin-right: 2px;
}
.heightO {
  height: auto;
  max-height: initial;
}
.k-grid .k-tooltip.k-tooltip-validation {
  z-index: 999;
}
.checkboxLabel {
  display: inline;
}

.clm .checkboxLabel {
  background: #fff;
  display: inline;
  min-width: 276px;
  width: 241px;
  padding-right: 0px;
  margin-right: 0px;
}
.clm span.k-dropdown,
.clm .k-button,
.rowediv .clm button,
.clm span {
  margin: auto 1px;
  word-break: break-all;
  -ms-word-wrap: break-word;
  /* white-space:pre-wrap; */
  font-size: 11px;
}

.splitgrid {
  width: 100%;
  overflow-x: scroll;
}
.find {
  font-size: 11px;
  margin-left: 4px;
  line-height: 15px;
}
.mla button {
  margin-left: 2px;
}
.mla .find {
  font-size: 11px;
  margin-left: 2px;
  margin-right: 2px;
  line-height: 15px;
}

.clm .checkbox {
  background-color: #ffffff;

  max-width: 20%;
  min-width: 20%;
  display: contents;
}
.was-list span img {
  width: 50px;
}

.grids-container__content.no-min-height {
  min-height: unset;
}
.reload-content .was-list .was {
  height: auto;
}
.container_part .reload-content .was-list .was label {
  color: #333;
}
.dfa .refreshbtn:nth-child(2) {
  margin-left: auto;
  display: flex;
}

.clm,
.clm.w30 {
  align-items: center;
}
.transaction__flow__computer {
  width: auto;
}
.transaction__flow__computer img:not(.transaction__flow__link) {
  width: 100px;
}

.k-command-cell > .k-button {
  line-height: 10px;
}
.k-dialog-buttongroup .k-button {
  width: 50% !important;
}
.k-alert .k-dialog-buttongroup .k-button {
  width: 100% !important;
}
.k-window-content.k-content .compoContens {
  height: 100%;
}
.k-window-content.k-content .compoContens .innerContens {
  height: calc(100% - 39px);
}
.d_flex {
  display: flex;
}
.checkBoxW {
  display: flex;
  width: 50%;
}
.page-section .text_w_img {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
.page-section .text_w_img img {
  margin-left: 5px;
}
.clm .k-dropdown {
  padding: 0px;
}

.addBox .mla .minw.input-group {
  display: inline-block;
}
.addBox .mla .minw.input-group label {
  display: inline-block;
}

.container_part .addBox .mla .minw.input-group .k-dropdown {
  float: right;
}
.pdt6 {
  padding-top: 6px;
}

.clm.w100.align-center .checkbox {
  min-width: auto;
  max-width: none;
}

.k-grid-toolbar .k-button + .k-button {
  margin-left: 2px;
  margin-right: 2px;
}

.pdr2 {
  padding-right: 2px;
}
.searchCount {
  width: 80px;
}
.customtextarea {
  width: 73%;
  border: 1px solid #999999;
  margin: 2px;
  border-radius: 3px;
}

.transaction__flow__node_2 {
  text-align: center;
  min-width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.transaction__flow__node_2 button {
  margin-bottom: 20px;
}
.transaction__flow__mapping {
  height: 247px;
}

.d_f {
  display: flex;
}
.d_c {
  align-items: center;
}
.d_l {
  justify-content: flex-start;
}
.selectPdding .lineTag.flex > span {
  margin-left: 10px;
  width: 82px;
  float: right;
  margin-right: 0px;
}
@media (max-width: 1280px) {
  /*.searchbox .mla {
		margin-left: 20px;
	 
	}*/
  .checkboxLabel {
    display: inline;
  }
  .k-textbox,
  .k-input.k-textbox,
  .k-textarea {
    width: 9em;
  }
  .transaction__flow__computer img:not(.transaction__flow__link) {
    width: 100px;
  }
}

.transaction__flow__node__link {
  cursor: pointer;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-align: center;
}

.loading-box {
  width: 200px;
  padding: 10px 5px 5px;
}

.loading-box .out-box {
  position: relative;
  width: 100%;
  height: 5px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow: hidden;
}

.loading-box .out-box .in-box-start {
  animation: moveBox 1s ease-in-out infinite alternate-reverse;
  position: absolute;
  top: 1px;
  left: 0;
  width: 70%;
  height: 3px;
  background: #21d933;
  border-radius: 3px;
}

.loading-box .out-box .in-box-stop {
  position: absolute;
  top: 1px;
  left: 0;
  width: 50%;
  height: 3px;
  background: #e80909;
  border-radius: 3px;
}

@keyframes moveBox {
  from {
    left: -77%;
  }
  to {
    left: 97%;
  }
}
