* {
  box-sizing: border-box;
}

/**** header css ****/
body {
  font-size: 12px;
  color: #3c3c3b;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  min-width: 1200px;
  min-height: 100%;
  overflow: scroll;
}

a,
button {
  transition: all 0.3s;
}

a:hover,
button:hover {
  text-decoration: none;
  transition: all 0.3s;
}

:focus,
button:focus {
  outline: none;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 26px;
  margin: 0px 0px 18px;
  padding: 0px;
  font-weight: bold;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/*Grid Image*/
.k-grid td img {
  height: 2vh;
}

.header_part {
  position: relative;
  background: url("//images/bg_topcenter.gif");
  color: #bbc5ca;
  position: fixed;
  border: none;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  width: 100%;
  z-index: 99;
  left: 0px;
  top: 0px;
  height: 53px;
  box-sizing: border-box;
  padding: 0px;
}

.header_part:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  height: 53px;
  width: 300px;
  background: url("//images/top_right.gif") no-repeat;
}

.header_part:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 53px;
  width: 572px;
  /* background: url("/images/top_left.gif") no-repeat; */
}

.pos {
  position: relative;
  z-index: 2;
}

.header_part .left_l {
  float: left;
  width: 230px;
  text-align: left;
}

.header_part .left_l a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 11px 20px;
  font-size: 20px;
}

.header_part .right_l {
  float: right;
  width: calc(100% - 230px);
}

.header_part .menuleft {
  float: right;
  list-style: none;
  display: flex;
  font-size: 16px;
  padding: 6px;
}

.header_part .menuleft li a {
  padding: 10px;
  color: #fff;
  display: block;
  text-decoration: none;
}

.header_part .k-menu .k-item > .k-link {
  padding: 14px 15px;
  font-size: 12px;
}

.header_part .k-menu:not(.k-context-menu) > .k-item {
  color: #c1d0da;
}

.header_part .k-menu .k-item li ul li a {
  color: #333;
}

.container_part {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3eaf2+1,1e549e+100 */
  background: rgb(227, 234, 242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(227, 234, 242, 1) 1%, rgba(30, 84, 158, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(227, 234, 242, 1) 1%,
    rgba(30, 84, 158, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(227, 234, 242, 1) 1%,
    rgba(30, 84, 158, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaf2', endColorstr='#1e549e',GradientType=0 ); /* IE6-9 */
  height: 100%;
  position: relative;
  color: #bbc5ca;
  margin-top: 45px;
  padding: 0px 0px 30px;
}

.container_part .left_l {
  position: sticky;
  height: 100%;
  left: 3px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  padding: 5px;
  box-sizing: border-box;
  top: 0;
  background: #603d86;
  border-radius: 10px 10px 5px 5px;
  transition: all 0.3s;
  max-width: 250px;
}

.container_part .right_l {
  overflow: auto;
  margin-left: auto;
  float: right;
  transition: all 0.3s;
}

.container_part .left_l .k-panelbar {
  border: none;
  height: calc(100% - 34px);
}

.container_part .left_l .k-panelbar .k-item .k-header {
  padding: 0;
}

.container_part .left_l .k-panelbar .k-item .k-header .framework_menu {
  width: 100%;
}

.container_part .left_l .k-panelbar .k-item .k-header .k-icon {
  display: none;
}

.container_part .left_l .sideMenu {
  height: calc(100% - 40px);
  box-sizing: border-box;
  padding: 0px;
  background: #fff;
  /*/overflow-y: scroll;*/
}

.container_part .left_l ul li {
  background: none;
  font-size: 14px;
}

.container_part .left_l .k-panelbar > .k-item > .k-link .k-icon {
  color: #fff;
}

.container_part #splitter {
  background: transparent;
  height: calc(100vh - 90px);
}

.container_part #splitter > * {
  height: 100% !important;
}

.container_part #splitter > .splitter_left > div {
  width: 100%;
  height: 100%;
  position: relative;
}

#panelbar .k-sprite,
#treeview .k-sprite,
.k-treeview .k-sprite {
  background-image: url("//images/coloricons-sprite.png");
}

.rootfolder {
  background-position: 0 0;
}

.folder {
  background-position: 0 -16px;
}

.pdf {
  background-position: 0 -32px;
}

.html {
  background-position: 0 -48px;
}

.image {
  background-position: 0 -64px;
}

.headingbox {
  background: #603d86;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px 10px;
  color: #2ac2d9;
}

.headingbox.mgnone {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}

.headingbox.mgnone .k-button {
  width: 50%;
  background: linear-gradient(180deg, #d8b8f9 0%, #7a50a7 100%);
  border: none;
  color: #000;
  font-weight: bold;
}

.collepsMenu {
  background-image: url("//images/btn_slideleft_off.gif");
  float: right;
  height: 15px;
  width: 15px;
  background-size: 100%;
  cursor: pointer;
}

.collepsMenu.active {
  background-image: url("//images/btn_slideright_off.gif");
}

.lineTag {
  font-weight: bold;
  margin-bottom: 10px;
}

.lineTag.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.lineTag > img {
  margin-right: 4px;
}

.lineTag.flex > span {
  margin-right: 10px;
}

.flex {
  display: flex;
}

.searchbox-group {
  background: #dde6f0;
  padding: 0 10px;
  height: max-content;
  margin: 10px 0;
}

.searchbox-group .searchbox {
  margin: 0;
}

.searchbox-group .searchbox:not(:first-child) {
  border-top: 1px solid #ccc;
}

.searchbox {
  background: #dde6f0;
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
  min-height: 45px;
  display: inline-flex;
  /*flex-wrap: wrap;*/
  align-items: center;
}

.searchbox .input-group,
.reload .input-group,
.input-group {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.searchbox .input-group label,
.reload .input-group label {
  color: inherit;
  margin-right: 10px;
}

.btn_arrow_div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.btn_arrow_div.btn_arrow_div--bordered {
  border: 1px solid #ddd;
  padding: 5px 0;
}

.btn_arrow_div button {
  margin: 0 10px;
}

.btn_arrow_div img {
  width: 30px;
  height: 30px;
}

.search_btn {
  width: max-content;
  height: max-content;
}

.search_btn.no-text {
  padding: 0;
  height: 20px;
  width: 20px;
  display: flex;
  margin: 0 10px;
}

.search_btn.no-text img {
  width: 100%;
  height: 100%;
}

.container_part .left_l .k-panelbar > .k-item + .k-item {
  border-top: solid 1px #31475d;
}

.container_part .left_l .k-content {
  padding: 0px;
  color: #fff;
}

.container_part .left_l .k-content a {
  display: block;
  text-decoration: none;
  padding: 14px 10px 14px 45px;
  color: #c2cedc;
  font-size: 13px;
  border-top: solid 1px #54677f;
}

.container_part .left_l .k-content a:hover {
  background: #17232d;
  color: #fff;
}

.container_part .left_l .k-content a img {
  float: left;
  margin: 2px 2px 0px -22px;
}

.container_part .left_l.show {
  left: -200px;
}

.container_part .left_l.show .sideMenu,
.container_part .left_l.show .mgnone {
  position: relative;
  left: -40px;
}

.container_part .left_l.show .sideMenu .headingbox {
  position: relative;
  left: 40px;
}

.container_part .right_l.show {
  width: calc(100% - 35px);
}

.container_part label {
  margin: 5px 0px 1px;
  display: block;
  color: #fff;
  font-size: 12px;
}

.container_part .k-dropdown {
  font-size: 12px;
  float: left;
  margin-right: 10px;
  padding: 0px;
}

.container_part .k-content .k-dropdown .k-dropdown-wrap {
  border-radius: 3px;
  padding: 1px 5px;
}

.container_part .k-textbox {
  border-radius: 3px;
  font-size: 12px;
  padding: 5px 10px;
  height: auto;
}

.container_part .k-panelbar .k-panelbar-expand,
.k-panelbar .k-panelbar-collapse {
  right: auto;
  left: 8px;
}

.minw {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-left: 20px;
  min-width: 200px;
  justify-content: flex-end;
}

.minw label {
  margin-right: 10px;
  color: #333333;
}

.mla {
  margin-left: auto;
  display: flex;
}

.mla button {
  margin-left: 10px;
}

.mra {
  margin-right: auto;
}

.flr {
  float: right;
  margin-left: 10px;
}

.mrb {
  margin-bottom: 10px;
}

.mrow {
  margin: 15px 0px;
}

body:after {
  content: "";
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 3px;
  background: rgb(227, 234, 242); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(227, 234, 242, 1) 1%, rgba(30, 84, 158, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(227, 234, 242, 1) 1%,
    rgba(30, 84, 158, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(227, 234, 242, 1) 1%,
    rgba(30, 84, 158, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3eaf2', endColorstr='#1e549e',GradientType=0 ); /* IE6-9 */
}

.rowediv {
  border: solid 1px #dfe1e1;
  display: flex;
  margin-bottom: -1px;
}

.clm .rowediv > * {
  margin-right: 30px;
}

.clm .rowediv .clm {
  align-items: center;
}

.clm .rowediv .clm > * {
  margin-right: 30px;
}

.clm,
.clm.w30 {
  width: 33.333%;
  display: flex;
}

.clm.w60 {
  width: 66.9%;
}

.clm.w50 {
  width: 50%;
}

.clm label {
  background: #d1daec;
  color: #000;
  padding: 10px;
  margin: 0px 15px 0px 0px;
  min-width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
}

.clm label.radio,
label.checkbox,
.clm label.textbox {
  background: #ffffff;
  min-width: initial;
}

.clm input.k-textbox {
  height: 30px;
  margin: auto 0;
}

.clm span.k-dropdown,
.clm .k-button,
.rowediv .clm button,
.clm span {
  margin: auto 0;
}

.clm button,
.clm .k-button {
  margin-right: 10px;
}

.clm.w100 {
  width: 100%;
  align-items: normal;
}

.clm.w100.align-center {
  align-items: center;
}

.clm.w100 table {
  width: calc(100% - 150px);
  border: solid 1px #dfe1e1;
  border-top: none;
  margin: 5px;
}

.clm.w100 table tr td {
  border-top: solid 1px #dfe1e1;
  margin-bottom: -1px;
  padding: 5px;
}

.rowp {
  display: flex;
  margin: 0px -10px;
}

.col-md-6 {
  width: 50%;
  padding: 0px 10px;
}

.datadivmr {
  margin-top: 10px;
}

.data_popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  transform: scale(0);
  transition: all 0.3s;
}
.qp_container {
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.data_popup .qp_container {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.data_popup_2 .qp_container {
  max-width: 400px;
}

.data_popup.login_open {
  transform: scale(1);
}

.data_popup .qp_container .qp_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #262d92;
  background: #97a9df;
  position: relative;
}

.data_popup .qp_container .qp_header i {
  margin-right: 16px;
  line-height: 8px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  background: #262d92;
}

.data_popup .body_row {
  padding: 10px;
  border: solid 5px #97a9df;
}

.buttondiv {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttondiv .find {
}

.data_popup .lineTag,
.k-window .lineTag {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.k-window .lineTag .k-dropdown,
.k-window .lineTag button {
  margin: 0 10px;
}

.data_popup .lineTag img {
  margin-right: 5px;
}

.data_popup .lineTag small {
  color: #ff575e;
}

.data_popup .lineTag span {
  margin-left: auto;
}

.find {
  background-color: #8c9cbf;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #8c9cbf),
    color-stop(50%, #546a9e),
    color-stop(50%, #36518f),
    color-stop(100%, #3d5691)
  );
  background-image: -webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  padding: 3px 10px 3px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
}

.btn_green {
  background-color: #10ff44;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #10ff44),
    color-stop(50%, #40ca09),
    color-stop(50%, #0faf0f),
    color-stop(100%, #068d0d)
  );
  background-image: -webkit-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: -moz-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: -ms-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: -o-linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  background-image: linear-gradient(top, #10ff44 0%, #40ca09 50%, #0faf0f 50%, #068d0d 100%);
  border: 1px solid #1ef843;
  border-radius: 5px;
  color: #000;
  text-shadow: none;
  padding: 3px 10px 3px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.find img {
  width: 10px;
}

.k-window .clm:not([class*=" w"]) {
  width: 50%;
}

.k-window .clm .k-textarea {
  min-height: 40px;
}

.data_popup .clm.w100 {
  width: 100%;
}

.find:hover {
  background-color: #7f8dad;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7f8dad),
    color-stop(50%, #4a5e8c),
    color-stop(50%, #2f477d),
    color-stop(100%, #364c80)
  );
  background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  cursor: pointer;
}

.find:active {
  -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
  box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
}

.data_popup .clm {
  width: 50%;
}

.data_popup .clm.w100 {
  width: 100%;
}

.tac {
  text-align: center;
}

.cu_drop {
  display: flex;
  align-items: center;
}

.cu_drop .k-dropdown .k-dropdown-wrap,
.k-dropdowntree .k-dropdown-wrap {
  border-radius: 5px;
}

.cu_drop .imgb img {
  width: 30px;
}

.container_part #searchform {
  margin: 0px 0px 0px;
  padding: 0px;
  position: relative;
  max-width: 418px;
  float: right;
  width: 100%;
}

.container_part #searchform .searchbox {
  float: left;
  max-width: 300px;
  position: relative;
  width: 100%;
}

.container_part #searchform .k-textbox {
  padding: 7px 7px 6px;
  border-radius: 30px;
  width: 100%;
}

.container_part #searchform .buttonbox {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 5px 6px;
  background: #8d979c;
  border: none;
  border-radius: 100%;
  width: 28px;
  height: 28px;
}

.row_b {
  margin: 0px -10px;
}

.row_b .col-sm-6 {
  padding: 0px 10px;
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.row_b .col-sm-12 {
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
}

.container_part .morecrite {
  display: inline-block;
  padding: 6px 10px;
  margin-left: 10px;
  position: relative;
  top: -1px;
  color: #999;
  font-size: 13px;
  text-decoration: none;
  border: solid 1px #cccccc;
  border-radius: 3px;
  text-align: center;
}

.container_part .morecrite:hover,
.container_part .morecrite.active {
  background: #6ba03a;
  border: solid 1px #6ba03a;
  color: #fff;
}

.container_part .morecrite.returnb {
  border: none;
  border-top: solid 1px #fff;
  border-radius: 0px;
  padding-bottom: 15px;
  font-size: 12px;
}

.container_part .morecrite.returnb:hover {
  background: none;
  color: #000;
}

.con_text {
  color: #333;
  /*padding: 10px;*/
  height: 100%;
}

.con_text h1 {
  font-size: 15px;
  font-weight: normal;
}

.con_text h4 {
  font-size: 12px;
  font-weight: bold;
}

.con_text h1 a {
  color: #086ab8;
  text-decoration: none;
}

.con_text .k-tabstrip-wrapper,
.k-window .transfer__grid .k-tabstrip-wrapper {
  height: 100%;
}

.con_text .k-tabstrip-items .k-item,
.k-window .k-tabstrip-items .k-item {
  color: #000000;
}

.con_text .k-tabstrip > .k-content {
  border-color: rgba(0, 0, 0, 0.2);
}

.con_text .k-tabstrip-items .k-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  margin-right: -1px;
}

.ultaba {
  float: right;
  padding-top: 5px;
}

.ultaba li {
  float: left;
  list-style: none;
  margin-left: -1px;
}

.ultaba li a {
  display: block;
  text-decoration: none;
}

.ultaba .k-dropdown .k-dropdown-wrap {
  background: none;
  font-size: 12px;
}

.ultaba.boxse {
  float: left;
}

.ultaba.boxse li {
  margin-right: 10px;
}

.ultaba.boxse li a {
  border: solid 1px #ebebeb;
  border-radius: 2px;
  padding: 6px 10px;
  color: #656565;
}

.ultaba.boxse li a.buttonb {
  background: #6ba03a;
  color: #fff;
  border: solid 1px #6ba03a;
}

.cont_textb .menuleft li a {
  color: #60a0d4 !important;
}

.cont_textb .menuleft li ul li a:hover {
  color: #fff !important;
}

.header_part .menuleft li .k-dropdown {
  width: 65px;
}

.tablebox {
  padding: 0px 10px 10px;
}

.cust_b {
  border: solid 1px #c3c3c3;
  margin-top: 10px;
  color: #000;
}

.topbar {
  background: #eef8fd;
  padding: 8px;
  border-bottom: solid 1px #c3c3c3;
}

.float-left {
  float: left;
  padding: 7px 0px;
}

.insidebox {
  text-align: center;
  min-height: 200px;
  color: #999;
}

.insidebox h1 {
  font-size: 18px;
  padding-top: 50px;
  color: #000;
}

.adsearch {
  text-align: right;
  margin-bottom: 10px;
  float: right;
  padding-top: 8px;
  padding-right: 3px;
}

.adsearch a {
  color: #333;
  font-size: 12px;
  text-decoration: none;
}

#ticketsForm {
  display: none;
  width: 100%;
  margin: 3px -10px 10px;
  padding: 10px;
  background: #fff;
  border-bottom: solid 1px #d2d9dc;
}

#ticketsForm h1 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 14px;
}

.fromsite {
  padding: 10px;
  cursor: pointer;
  float: left;
  display: none;
}

.tablebox .k-widget,
.tablebox .k-list-scroller {
  font-size: 12px;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-button {
  background: #ccc;
}

.scrollbar::-webkit-scrollbar-track-piece {
  background: #5e6d74;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #eee;
}

.con_text .k-tabstrip > .k-content {
  background: #f3f3f3;
  padding: 0px 10px 14px;
}

.vueContents {
  height: 95%;
  max-height: 95%;
}

.con_text .k-tabstrip-wrapper > .k-tabstrip {
  height: 100%;
}

.con_text .k-tabstrip > .k-content .innerContens {
  background: #fff;
  padding: 10px;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.modal-content-body .innerContens {
  background: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.innerContens .k-widget.k-grid.k-display-block {
  height: calc(100% - 270px);
  height: -webkit-calc(65vh - 270px);
  height: -moz-calc(100% - 270px);

  flex-grow: 1;
  display: flex !important;
}

.innerContens .k-widget.k-grid.k-display-block .k-grid-content table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.k-header.k-grid-toolbar {
  display: none;
}

.k-pdf-export .k-grid {
  font-family: "Arial Unicode MS", sans-serif;
}

.k-grid.light .k-grid-header .k-header > .k-link {
  background-color: transparent;
}

.k-grid-header .k-header > .k-link {
  background-color: #adc6f4;
}

.k-grid .k-grid-content tbody tr:hover,
.k-grid .k-grid-content tbody tr.k-state-hover {
  color: #656565;
  background-color: #fcbc9c;
}

.k-grid th,
.k-grid td {
  color: #000;
  white-space: nowrap;
}

.k-grid td span.k-dropdown.k-widget {
  width: 100%;
  max-width: unset;
}

.k-grid td a {
  font-weight: 700;
  cursor: pointer;
}

.k-grid td button img {
  width: 16px;
  vertical-align: middle;
  height: auto;
}

.k-grid td span.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.k-grid td img.radio {
  width: 20px;
  margin: 0;
}

.k-grid th {
  background-color: #adc6f4;
  font-weight: 400;
  overflow: visible;
  white-space: normal;
}

.k-grid.light th {
  background-image: linear-gradient(to bottom, #f9f9f9, #ffffff 40%, #f9f9f9 80%);
}

.k-grid .k-command-cell .k-button {
  font-weight: lighter;
}

.addBox {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  max-width: 100%;
  text-align: right;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .addBox .mla {
    width: 100%;
    display: inline;
  }
  .addBox .mla.recycle {
    margin: 0 0 0 45%;
    width: auto;
  }
}

.addBox button {
  margin-left: 10px;
}

.recycle {
  height: 30px;
  background-color: #ff575e;
  color: #fff;
  padding: 5px;
  vertical-align: middle;
  width: auto;
  text-align: center;
}

.k-widget.k-window {
  border: solid 5px #97a9df;
  border-radius: 5px;
}

.k-window-titlebar.k-header {
  background-color: #97a9df;
  margin-right: -1px;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 14px;
  font-weight: bold;
  color: #262d92;
  height: 30px;
  padding: 0 5px;
}

.k-window-titlebar.k-header .k-window-title {
  font-size: 14px;
}

.k-window-titlebar.k-header .k-i-close {
  background-color: #262d92;
  color: #fff;
}

.dfa {
  display: flex;
  align-items: center;
}

.dfa.wrap {
  flex-wrap: wrap;
}

.dfa.space-between {
  justify-content: space-between;
}

.dfa .k-button {
  margin-left: auto;
}

.refreshbtn {
  padding-left: 5px;
  cursor: pointer;
  display: flex;
}

.footer .right_l {
  width: calc(100% - 230px);
  color: #fff;
}

.footer {
  padding: 2px 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  background: #285ba2;
}

.left_l_f {
  width: 230px;
}

.splitter {
  width: 100%;
  height: 100px;
  display: flex;
  overflow: hidden;
}

#separator {
  cursor: col-resize;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='white'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 100%;
  position: relative;
  left: 233px;
  transition: all 0.3;
  /* prevent browser's built-in drag from interfering */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuleftside {
  min-width: 10px;
}

#second {
  height: 100%;
  min-width: 10px;
}

#separator.show {
  left: 30px;
  transition: all 0.3;
}

.typedadded {
  margin-top: 30px;
}

.writebox1 {
  background: #ffc;
  text-align: center;
  padding: 10px;
  margin: 0px 30px;
  width: 160px;
  height: 80px;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.mrtp {
  margin-top: 20px;
}

.writebox {
  max-width: 500px;
  text-align: center;
}

.imgdiv {
  display: inline-block;
}

.imgdiv img {
  max-width: 70px;
}

.centerali {
  max-width: 500px;
  display: inline-block;
}

.img_ser {
  padding-bottom: 30px;
}

.colorred {
  color: #ff575e;
}

.body_row.error {
  display: flex;
  padding: 10px;
}

.body_row.error .info {
  margin-left: 30px;
}

.body_row.error h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.body_row.error p {
  font-size: 16px;
  margin: 5px 0;
}

.body_row.error form {
  margin-left: 10px;
}

.body_row.error .lineTag {
  align-items: end;
}

.body_row.error .lineTag img {
  margin-top: 3px;
}

.has-error {
  border-color: #ff575e !important;
}

.textareabox {
  margin: 10px 0px 10px 16px;
}

.textareabox textarea {
  width: 100%;
  padding: 10px;
  height: 86px;
}

.textareabox span {
  padding-top: 5px;
  display: inline-block;
}

.dataTable {
  position: relative;
}

.popup_pop_norecord {
  position: absolute;
  z-index: 99;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #ffffff 30%, #f6f6f6 60%, #eeeeee, #e5e5e5);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  height: 100px;
  padding: 30px;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  border-radius: 10px;
}

.framework_menu {
  background: linear-gradient(180deg, #d8b8f9 0%, #7a50a7 100%);
  border: none;
  color: #ffffff;
  font-weight: bold;
  padding: 4px 8px 7px;
}

.scrollbar {
  height: calc(100% - 55px);
  overflow-x: auto;
}

@media only screen and (max-width: 767px) {
  .fromsite {
    display: block;
  }

  .container_part .left_l {
    /*display: none;*/
    z-index: 999;
    top: 85px;
    width: 100%;
  }

  .container_part .right_l {
    width: 100%;
  }

  .header_part {
    height: 85px;
  }

  .container_part {
    margin-top: 80px;
  }

  .header_part .right_l {
    width: 100%;
  }

  .header_part #menu_right {
    position: absolute;
    top: 3px;
    right: 0px;
  }

  .header_part .k-menu .k-item > .k-link {
    padding: 4px 15px 7px;
  }

  .header_part .menuleft {
    overflow: auto;
    white-space: nowrap;
    float: none;
    display: block;
  }

  .header_part .menuleft li {
    float: none;
    display: inline-block;
  }

  .container_part .row_b .col-sm-6 {
    width: 100%;
  }

  .ultaba.boxse li {
    min-height: 33px;
  }

  .tablebox #example {
    overflow: auto;
  }

  .tablebox #example #grid {
    width: 1000px;
  }

  .ultaba.boxse li a {
    padding: 5px 10px;
  }

  .container_part #searchform {
    max-width: 100%;
  }

  .container_part #searchform .searchbox {
    width: 100%;
  }

  .container_part .k-textbox {
    width: 46%;
  }

  .container_part .morecrite {
    margin-left: 0px;
    top: 3px;
  }
}

.scrollbar .k-widget.k-treeview,
.scrollbar .k-widget.k-treeview ul {
  height: 100%;
}

.no-tree {
  padding: 5px 0;
}

.no-tree li {
  outline-style: none;
  margin: 0;
  padding: 0 0 0 16px;
  border-width: 0;
  display: block;
  color: #000;
}

#panelbar .scrollbar .no-tree li:hover {
  color: #656565;
  background-color: #ededed;
}

.no-tree li .k-sprite {
  margin-right: 4px;
}

.scrollbar .k-treeview .k-in {
  overflow-x: hidden;
}
.excel-btn {
  background-image: url(//images/btn_excel_off.gif);
  background-size: contain;
  width: 61px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: auto;
}
.excel-btn:hover {
  background-image: url(//images/btn_excel_over.gif);
}

.print-btn {
  background-image: url(//images/btn_print_off.gif);
  width: 63px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: 10px;
}
.print-btn:hover {
  background-image: url(//images/btn_print_over.gif);
}

.excel-report-btn {
  background-image: url(//images/btn_excel_report_off.gif);
  background-size: contain;
  width: 61px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: auto;
}
.excel-report-btn:hover {
  background-image: url(//images/btn_excel_report_over.gif);
}

.pdf-report-btn {
  background-image: url(//images/btn_pdf_report_off.gif);
  width: 63px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: 10px;
}
.pdf-report-btn:hover {
  background-image: url(//images/btn_pdf_report_over.gif);
}

.excel-state-btn {
  background-image: url(//images/btn_excel_state_off.gif);
  background-size: contain;
  width: 61px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: auto;
}
.excel-state-btn:hover {
  background-image: url(//images/btn_excel_state_over.gif);
}
.pdf-state-btn {
  background-image: url(//images/btn_pdf_state_off.gif);
  width: 63px;
  height: 20px;
  background-repeat: no-repeat;
  border: 0px;
  margin-left: 10px;
}
.pdf-state-btn:hover {
  background-image: url(//images/btn_pdf_state_over.gif);
}

.innerContens .k-tabstrip-top > .k-tabstrip-items .k-item.k-state-active {
  background-color: #eee;
}

.gridBtn:hover {
  background-color: darkgray;
  border-radius: 4px;
  color: #000;
  border-color: #000;
}
.gridBtn {
  background-color: silver;
  border-radius: 4px;
  color: #000;
  border-color: lightgray;
}

.k-grid-edit-row td > .k-textbox,
.k-grid-edit-row td > .k-widget,
.k-command-cell > .k-button,
.k-edit-cell > .k-textbox,
.k-edit-cell > .k-widget {
  margin-top: 0;
  margin-bottom: 0;
}
.noRecordFound {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 100px;
  border: 1px solid #ddd;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  line-height: 100px;
  border-radius: 4px;
  background-color: #ededed;
}

span.required {
  color: #ff575e;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.info {
  font-size: 12px;
  margin: 0 5px;
}

.info.danger {
  color: #ff575e;
}

.grids-container__grids {
  /*
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: 1fr 1fr;
  
  -ms-grid-columns: repeat( 1fr, 1fr );*/

  background-color: #eee;
  display: flex;
  height: 100%;
}
.grids-container__grids .grids-container__grid:first-child {
  margin-right: 20px;
}
.grids-container__grids .grids-container__grid {
  width: 50%;
}

#FWKM0050_info .grids-container__grids.grids-container__grids--has-spacer {
  -ms-grid-columns: 200px 60px 1fr;
  grid-template-columns: 200px 60px 1fr;
  grid-template-areas: "grid1 spacer grid2";
}

.grids-container__grids.grids-container__grids--has-spacer {
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: 1fr 60px 1fr;
  grid-template-areas: "grid1 spacer grid2";
}

.grids-container__grids.grids-container__grids--has-spacer .grids-container__grid:first-child {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: grid1;
}

.grids-container__grids.grids-container__grids--has-spacer .grids-container__grid:last-child {
  -ms-grid-column: 3;
  grid-column: 3;
  grid-area: grid2;
}

.grids-container__grid {
  display: flex;
  flex-direction: column;
}

.grids-container__grids .grids-container__grid label {
  color: #000;
}

.grids-container__title {
  background-color: #d1daec;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.grids-container__content {
  padding: 10px;
  border: 1px solid #ccc;
}

.grids-container__content {
  min-height: 200px;
}

.grids-container__spacer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: spacer;
  -ms-grid-column: 2;
  grid-column: 2;
}

.grids-container__spacer img {
  width: 30px;
  margin: 10px auto;
}

.comparison {
  display: inline-flex;
  align-items: center;
}

.comparison img {
  width: 30px;
}

.comparison input {
  text-align: center;
  margin: 0 10px;
  height: 30px;
}

.page-section {
  width: 100%;
  margin-bottom: 20px;
}

/** FWKV0100 */

#FWKV0100 .grid__wrapper > div:first-child {
  padding: 5px;
  background-color: #ddd;
}

#FWKV0100 .grid__wrapper > div:first-child > .searchbox {
  background-color: inherit;
}

.con_text .k-tabstrip > .k-content #FWKV0100 .innerContens {
  height: calc(100% - 25px);
}

/** FWKV0100 */

/** FWKM0180 */

.operations-reload {
  width: 100%;
  display: flex;
  height: calc(100% - 36px);
}

.operations-reload .operations {
  width: 25%;
  margin-right: 10px;
  height: 100%;
  border: 6px solid #bbb;
  border-radius: 4px;
}

.operations-reload .reload-container {
  width: 75%;
}

.operations-reload .operations ul {
  list-style: none;
}

.operations-reload .operations ul li {
  height: 20px;
  padding: 0 5px;
}

.operations-reload .operations ul li:hover {
  background-color: rgba(255, 99, 88, 0.7);
}

.operations-reload .operations ul li.active {
  background-color: #ff6358;
  color: #fff;
}

.operations-reload .operations ul li a {
  color: inherit;
  text-decoration: none;
}

.reload {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reload-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reload-content {
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1;
  height: 100%;
  overflow: auto;
}

.was-list {
  display: flex;
  flex-wrap: wrap;
}

.was-list .was {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 120px;
  padding: 5px;
  margin: 0 10px 5px 0;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.was-list .was:hover {
  background-color: rgba(255, 99, 88, 0.5);
}

.was-list .was:active,
.was-list .was:focus {
  background-color: #fd8279;
}

.was-list .was img {
  margin-bottom: 5px;
}

/** FWKM0180 end */

.property-info .fields input {
  margin-left: 20px;
}

.property-info .rowediv {
  margin: 15px 0;
}

.property-info .rowediv .clm {
  display: flex;
}

/** Component switch transition */

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}
.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

/** Component switch transition end*/

.rule-splitter.k-splitter {
  height: 300px;
  border-width: 0px;
  background-color: #fff;
}

.rule-splitter .k-splitbar {
  background-color: #fff;
}

.rule-grid-container {
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.rule-grid-container p {
  padding: 0 5px;
}

.rule-grid-container .k-grid {
  height: calc(100% - 35px);
}

.components-grids {
  display: flex;
  align-items: stretch;
  /*height: 100%;*/
  height: 30vh;
}

.components-grids .grids-container {
  /*width: 25%;*/
  margin-right: 30px;
  background-color: #eee;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.components-grids .grids-container:last-child {
  /*width: 30%;*/
  margin-right: 0;
}

.components-grids .grids-container.half {
  width: 50%;
}

.components-grids .grids-container:last-child .grids-container__content {
  padding-top: 5px;
}

.components-grids .grids-container .grids-container__title {
  background: transparent;
  padding: 15px 10px;
  height: 40px;
}

.components-grids .grids-container .grids-container__content {
  border: none;
  background-color: #fff;
  padding: 0;
  margin: 0 10px;
  height: calc(100% - 40px);
}

.components-grids.expand,
.components-grids.expand .grids-container .grids-container__content {
  flex-grow: 1;
}

.components-grids.expand .grids-container {
  height: unset !important;
}

.components-grids .grids-container .grids-container__content .k-grid {
  height: calc(100% - 40px);
}

.components-grids .grids-container .grids-container__content .k-grid .k-grid-content {
  height: unset !important;
}

.transfer__grid {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 181px);
}

.transfer__grid > div {
  width: 49%;
}

.transfer__grid__header {
  margin: 0 0 5px;
}

.transaction__flow {
  display: flex;
}

.transaction__flow__computer {
  display: block;
  align-items: center;
  width: 130px;
  margin: 37px 30px;
  text-align: center;
}
.transaction__flow__computer img:not(.transaction__flow__link) {
  width: 100%;
}

.transaction__flow__mapping {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
}

.transaction__flow__mapping__group {
  display: flex;
  align-items: center;
  position: relative;
}

.transaction__flow__mapping__group > .k-button {
  height: max-content;
  width: max-content;
  margin: 0 30px;
}

.transaction__flow__node {
  height: 100px;
  width: 200px;
  border-radius: 5px;
  background-color: #f0ef7f;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transaction__flow__node p {
  font-weight: 500;
}

.transaction__flow__link:first-of-type {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 20px;
}

.transaction__flow__computer:last-child {
  /* margin-left: 60px;*/
  position: relative;
}

.transaction__flow__computer:last-child .transaction__flow__link {
  position: absolute;
  width: 50px;
  height: 20px;
}

.transaction__flow__computer:last-child .transaction__flow__link:first-of-type {
  top: 80px;
  left: -10px;
}

.transaction__flow__computer:last-child .transaction__flow__link:last-of-type {
  bottom: 10px;
  left: -10px;
}

.guide-details .k-widget.k-tabstrip .k-item {
  background-color: rgb(153, 153, 153);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #000;
  border-radius: 1px solid #ccc;
}

.guide-details .k-widget.k-tabstrip .k-item.k-state-active {
  background-color: #fff;
}

.guide-details .k-widget.k-tabstrip .k-widget.k-panelbar .k-item > .k-header {
  background-color: #ccc;
  color: #000;
  font-weight: bold;
}

.guide-details .k-widget.k-tabstrip .k-widget.k-panelbar .k-item .k-header .k-icon.k-panelbar-expand,
.guide-details .k-widget.k-tabstrip .k-widget.k-panelbar .k-item .k-header .k-icon.k-panelbar-collapse {
  display: none;
}

.guide-details .k-widget.k-tabstrip .k-widget.k-panelbar .k-editor-toolbar {
  background-color: #d1daec;
}

.info-grid .info-row {
  display: grid;
  display: -ms-grid;
  height: 50px;
  display: flex;
}

.info-grid .info-row.two-col {
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: repeat(2, 1fr);
}

.info-grid .info-row.two-col-200-start {
  grid-template-columns: 200px 1fr;
  -ms-grid-columns: 200px 1fr;
}

.info-grid .info-row.three-col {
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: repeat(3, 1fr);
}

.info-grid .info-row:first-child {
  background-color: #eee;
}

.info-grid .info-row > * {
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex: 0 0 27.333%;
  -webkit-box-sizing: border-box;
}

.info-grid .info-row:not(:first-child) label {
  background: #d1daec;
}

.has-tooltip {
  position: relative;
}

.k-tooltip-content {
  word-wrap: break-word;
  max-width: 300px;
}

.property-per-was .k-splitbar {
  background: transparent;
}

.drag-placeholder {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: red;
}

.modal-content {
  background-color: #ddd;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-content-header {
  min-height: 30px;
  background-color: #97a9df9f;
  padding: 5px;
}

.modal-content-body {
  padding: 10px;
  flex: 1;
}

/** Loader styles **/

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 10010;
  display: none;
  align-items: center;
  justify-content: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.stat-grid {
  border: 1px solid #ddd;
}

.stat-grid-row {
  display: grid;
  align-items: center;
  grid-template-columns: 120px 70px 70px 70px 1fr;
  grid-gap: 10px;
  min-height: 30px;
  padding: 0 5px;
}

.stat-grid-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.stat-grid-row.stat-grid-row-heading {
  background-color: #d1daec;
  font-weight: bold;
}

.stat-grid-row span {
  word-wrap: break-word;
}

.perf-btn {
  width: 200px;
}

.view-column > .k-button {
  font-style: italic;
}

.percent-box {
  background-color: #eee;
  border: 1px solid #bbb;
  width: 85%;
  height: 20px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percent-value {
  font-weight: bold;
  z-index: 3;
}

.percent-progress {
  background: linear-gradient(to bottom, rgba(255, 94, 0, 0.589) 1%, rgb(255, 94, 0) 100%);
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@keyframes loader-animation {
  0% {
    left: -100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.loader-track {
  height: 8px;
  min-width: 60px;
  max-width: 100%;
  margin: 0 5px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.loader-track .bar {
  position: relative;
  height: 8px;
  width: 50%;
  background: linear-gradient(to right, #fff 1%, rgb(255, 60, 0) 100%);
}

.loader-track .bar.loading {
  width: 100%;
  background: linear-gradient(to right, #fff 1%, rgb(17, 216, 17) 100%);
  animation-name: loader-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.btn-group {
  border-radius: 3px;
  display: flex;
  height: 30px;
  border: 1px solid #ccc;
}

.btn-group .k-button {
  border: none;
  border-radius: 0;
  margin: 0 !important;
  max-width: 50px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group .k-button:not(:last-child) {
  border-right: 2px solid #ccc;
}
.addBox .mla .find {
  margin-left: auto;
}

.con_text .k-tabstrip > .k-content #FWKI0050_info .components-grids {
  height: 47vh;
}
.wAinput .formw .clm {
  width: 42.5%;
}
