@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.k-treeview-group {
  flex-direction: column;
}

.k-panelbar-content {
  max-height: 500px;
  height: 100%;
  overflow: auto;
}

// .k-treeview-leaf {
//   padding: 8px !important;
// }

.k-treeview-item li.k-treeview-item {
  padding-left: 0px !important;
}

.k-tabstrip .k-tabstrip-content .k-animation-container {
  width: 100% !important;
}

.k-tabstrip-items .k-link {
  text-transform: capitalize !important;
  padding: 0px !important;
  font-size: 12px !important;
}

.k-tabstrip-content.k-active {
  display: none;
}

.k-panelbar-item .k-link {
  padding: 8px 16px !important;
}

.title-bar {
  @apply w-full bg-neutral-50 p-2.5 flex justify-between items-center gap-4;

  .title {
    @apply font-medium;
  }

  .actions {
    @apply flex gap-2;
  }
}
